**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin:0;
	padding:0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.cf {
	display: inline-block;
}
 
html[xmlns] .cf {
	display: block;
}
 
* html .cf {
	height: 1%;
}

/*--------------------------------site html----------------------------*/
html,body{
	width:100%;
	height:100%;
}
body{
	background:rgba(204,204,204,.34);
}
.blue{
	color:#39f;
}
.mainHeader{
	width:100%;
	height:40px;
	background:#000;
	vertical-align:middle;
}
.logo{
	float:left;
	margin: 8px 25px;
	color:#39F;
	font-size: 1.4em;
}
.userName{
	float:right;
	margin: 8px 25px;
	color:#39F;
	font-size: 1em;
}

.mainHeader nav{
	float:right;
	height:40px;
	line-height: 40px;
}
.mainHeader nav a{
	color:#39f;
	display:inline-block;
	margin-right:15px;
	text-decoration: none;
	width: 68px;
	font-weight: bold;
}
.container{
	width:100%;;
	padding:0 25px;
}
.title{
	width:100%;
	font-size:25px;
	text-indent:25px;
}
.video{
	width: 60%;
	float:left;
	height: 100%;
}
.video .person.p1{
	float:left;
	width: 30%;
	background-color:#999;
}
.person.p1 img{
	width:100%;
}

iframe{
	width:100%;
	height:55%;
}

.flashPart{
	width: 100%;
	height: 100%;
}

.person.p2 img{
	width:100%;
}
.video .person.p2{
	float:right;
	width: 30%;
	background-color:#999;
}
.video .vs{
	float:left;
	height: 3em;
	line-height: 3em;
	width: 5%;
	text-align: center;
	font-size:22px;
}
.contacts{
	clear:both;
	width: 100%;
	float:left;
	height: 200px;
	white-space: nowrap;
}
.contacts span{
	display:inline-block;
	width: 11.15%;
	height: 64%;
	background:#999;
	margin: 15px 15px 0 0;
}
.contacts span img{
	width: 100%;
	height: 100%;
}
.chat{
	float: right;
	width: 25%;
	margin-right: 3%;
}
.commentsCon{
	width: 100%;
	overflow:scroll;
	height: 373px;
	overflow-x: hidden;
}
.comment{
	background-color:rgba(0,153,255,.5);
	width: 90%;
	height: 58px;
	margin:10px 0;
	border-radius: 30px;
	padding: 16px;
	overflow: hidden;
}
.comment.active{
	background-color:rgba(0,153,255,1);
}